.menu-background {
    background-image: url("file:///home/nei/Desktop/Arqui/arqui-proy2-qr-equipo_exploding_mites/InterfazGrafica/Imagenes/menu.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.title-label {
    font-size: 48px;
    font-weight: bold;
    color: #FFEFDC;
}

.subtitle-label {
    font-size: 18px;
    color: #FFEFDC;
}

.instructions-label {
    color: #FFEFDC;
}

.gen-title-label {
    font-size: 36px;
    font-weight: bold;
    color: #837b72;
}

.gen-instructions-label {
    color: #a39a9a;
}

.scan-title-label {
    font-size: 36px;
    font-weight: bold;
    color: #837b72;
}

.scan-instructions-label {
    color: #a39a9a;
}